In [1]:
#Ans-1
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sort_l= sorted(l,key=lambda x:x[1])
for i in sort_l:
    print(i)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

In [2]:
#Ans-2
l1 =[1,2,3,4,5,6,7,8,9,10]
a=list(map(lambda x:x**2,l1))
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#Ans-3
l2=[1,2,3,4,5,6,7,8,9,10]
tup=tuple(map(lambda x:str(x),l2))
print(tup)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [6]:
#Ans-4
from functools import reduce
num=list(range(1,26))
product=reduce(lambda x,y:x*y,num)
print(product)

15511210043330985984000000

In [10]:
#Ans-5
l3=[2,3,6,9,27,60,90,120,55,46]
divisible=list(filter(lambda x: x%2==0 and x%3==0,l3))
print(divisible)

[6, 60, 90, 120]

In [13]:
#Ans-6
l4=['python', 'php', 'aba', 'radar', 'level']
palindromes=list(filter(lambda x: x==x[::-1],l4))
print(palindromes)

['php', 'aba', 'radar', 'level']